/venv/
excel_interface_test/allure-report/data/attachments/
excel_interface_test/allure-report/plugins/jira/
excel_interface_test/allure-report/plugins/junit/
excel_interface_test/allure-report/plugins/trx/
excel_interface_test/allure-report/plugins/xctest/
excel_interface_test/allure-report/plugins/xray/
excel_interface_test/allure-report/plugins/xunit-xml/
pytest_interface_test/allure-report/data/attachments/
pytest_interface_test/allure-report/plugins/jira/
pytest_interface_test/allure-report/plugins/junit/
pytest_interface_test/allure-report/plugins/trx/
pytest_interface_test/allure-report/plugins/xctest/
pytest_interface_test/allure-report/plugins/xray/
pytest_interface_test/allure-report/plugins/xunit-xml/
pytest_interface_test_V2/allure-report/data/attachments/
pytest_interface_test_V2/allure-report/plugins/jira/
pytest_interface_test_V2/allure-report/plugins/junit/
pytest_interface_test_V2/allure-report/plugins/trx/
pytest_interface_test_V2/allure-report/plugins/xctest/
pytest_interface_test_V2/allure-report/plugins/xray/
pytest_interface_test_V2/allure-report/plugins/xunit-xml/
excel_interface_test/test_case/pytest_results

/pytest_interface_test/allure-report/
/pytest_interface_test/allure_result/
/pytest_interface_test_V2/allure-report/
/pytest_interface_test_V2/allure_result/
